# Alpaca paper credentials
APCA_API_KEY_ID=PK6E7654V5IZVDQWNREDLHBD2V
APCA_API_SECRET_KEY=EZNERn2EhiSEMv48KLNX8Y6Q3qBAyiGXE8bfoHEAfqJB
ALPACA_PAPER=true


# Optional live credentials later
APCA_LIVE_API_KEY_ID=your_live_key_here
APCA_LIVE_API_SECRET_KEY=your_live_secret_here
